# Archivos de NetBeans
nbproject/private/

# Archivos de compilación
/build/
/dist/

# Archivos específicos del sistema operativo
*.DS_Store
*.log
*.bak
*.swp
*.swo

# Archivos de configuración específicos de la IDE
*.iml
.idea/
*.class
